<div class="container">
    <h1 class="title">Seguimiento general</h1><br> 
    <div class="row">
      Configuración
      <p>
        <label>
          <input type="checkbox"  (change)="cambio($event)"/>
          <span>Adjuntar archivos</span>
        </label>
      </p>
      <p>Buscar alerta (Ingresa la matrícula)</p>
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate" #user>
        <label for="icon_prefix">Matrícula del estudiante</label>
        <button >BUSCAR</button>
      </div>
    </div>
    <div class="row" *ngFor="let y of alertService.alerts">
        <div class="col s12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{y.student_name}} - {{y.matricula}}</span>
              <p>{{y.incidence}}</p>
            </div>
            <div class="card-action">
                
                <div class="input-field ">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <label for="icon_prefix2">Nueva actividad </label>
                    
                    <div class="row">
                        <div class="col"><a class="waves-effect waves-light btn"><i class="material-icons right">send</i>Enviar</a></div>
                        <!-- <div class="col"><a class="waves-effect waves-light btn"><i class="material-icons right">attach_file</i>Añadir archivo</a></div> -->
                        
                    </div>
                    <div class="row" *ngIf="check == true" >
                      <form [formGroup] = "fileService.uploadForm" (ngSubmit)="onSubmit()">      
                        <div class = "file-field input-field">
                          <div class = "btn">
                            <span>Añadir archivo</span>
                            
                            <input type="file" name="profile" (change)="onFileSelect($event)" />
                            <i class="material-icons right">attach_file</i>
                          </div>
                          <div class = "file-path-wrapper">
                            <input class = "file-path validate" type = "text" placeholder = "Upload file"  />
                          </div>
                           
                        </div>
                        <button class="btn" type="submit"><i class="material-icons right">file_upload</i>Subir archivo</button>
                        <!-- <div *ngFor="let item of listFiles"> -->
                          <!-- <button class="btn" type="submit"><i class="material-icons right">file_upload</i>Upload</button> -->
                          <!-- <a>{{item}}</a> -->
                        <!-- </div> -->
                      </form>
                    </div>
                </div>
               
            </div>
          </div>
        </div>
    </div>

</div>
